@page "/Finances"

<PageTitle>Finance</PageTitle>

<div class="container">
    <div class="row">
        <h1>Finance Management</h1>
    </div>
     <div class="d-flex justify-content-end">
         <button type="button" class="btn btn-primary" @onclick="OpenModal">
    Add New
</button>
     </div>

<table class="table table-hover mt-4">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Amount</th>
          <th scope="col">Pay Date</th>
          <th scope="col">Description</th>
          <th scope="col">Operations</th>
      </tr>
  </thead>
  <tbody>
      @if(FinanceList?.List.Count > 0)
      {
        foreach (var item in FinanceList.List)
        {
            <tr scope="row">
                <td>@item.Id</td>
                <td>@item.FinanceTypeTitle</td>
                <td>@item.Amount.ToString("N0")</td>
                <td>@item.PayDate.ToShortDateString()</td>
                <td>@item.Description</td>
                <td>
                    <button type="button" class="btn btn-sm btn-warning" onclick="@(()=> GetById(item.Id))">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" onclick="@(()=> Remove(item.Id))">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
            </tr>
        }          
      }
      else
      {
          <tr>
              <td colspan="6" class="text-center">No Item Was Founded</td>
          </tr>
      }
  </tbody>
</table>
@if(FinanceList is not null && FinanceList.List.Count > 0)
{
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-start">
    <li class="page-item @(FinanceList.PageIndex == 1 ? "disabled" : "" )">
      <button class="page-link" @onclick="@(()=> ChangePagination(FinanceList.PageIndex -1))">Previous</button>
    </li>
    @for (int i = 1; i <= FinanceList.TotalPages; i++)
    {
        int buttonNumber = i;
        <li class="page-item @(FinanceList.PageIndex == i? "active": "")">
            <button class="page-link @i" @onclick="@(()=> ChangePagination(buttonNumber))">@i</button>
        </li>
    }
    <li class="page-item @(FinanceList.PageIndex == FinanceList.TotalPages ? "disabled" : "" )">
      <button type="button" class="page-link" @onclick="@(()=> ChangePagination(FinanceList.PageIndex + 1))">Next</button>
    </li>
  </ul>
</nav>
}
</div>

<!-- Modal -->
<div class="modal fade" id="financeModal" tabindex="-1" aria-labelledby="financeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="financeModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm id="frmSubmit" Model="@FinanceInput" OnValidSubmit="@HandleValidSubmit">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-10 ms-2">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="from-group">
                                <InputNumber @bind-Value="FinanceInput.Amount" class="form-control"
                                    placeholder="amount" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="from-group">
                                <InputDate @bind-Value="FinanceInput.PayDate" class="form-control"
                                    placeholder="pay date" />
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="from-group">
                                <InputSelect @bind-Value="FinanceInput.FinanceTypeId" class="form-control" placeholder="type">
                                    @if(FinanceTypeList is not null)
                                    {
                                        @foreach (var item in FinanceTypeList)
                                        {
                                            <option value="@item.Id">@item.Title</option>
                                        }
                                    }
                                    
                                </InputSelect>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="from-group">
                                <InputTextArea @bind-Value="FinanceInput.Description" class="form-control"
                                    placeholder="description" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save changes" />

                </div>
            </EditForm>
        </div>
    </div>
</div>