@page "/Finances"
@using Tools

<PageTitle>Finances</PageTitle>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Create Date</th>
            <th scope="col">Last Update Date</th>
        </tr>
    </thead>
    <tbody>
        @if (FinanceList is not null && FinanceList.Any())
        {
            foreach (var item in FinanceList)
            {
                <tr>
                    <td>@item.Type</td>
                    <td>@item.Amount</td>
                    <td>@item.Description</td>
                    <td>@item.CreateDate</td>
                    <td>@item.UpdateDate</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center" colspan="5">No item was found for show</td>
            </tr>
        }
    </tbody>
</table>


@code
{
    [Inject]
    private HttpClient Http { get; set; }
    public List<Finance> FinanceList { get; set; }
    JsonFactory<Finance> _jsonFactory = null;
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(DateTime.Now);
        _jsonFactory = new("Data/Finances.json");
        FinanceList = await _jsonFactory.GetAllAsync(Http);
    }

}